<ion-content class="password-content">
  <ion-toolbar color="transparent" class="password-content">
    <ion-searchbar
      class="searchbar"
      animated
      slot="start"
      placeholder="Buscar"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="transparent" (click)="reorderPasswords($event)">
        <ion-icon name="reorder-three-outline"></ion-icon>
        Filtros
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-refresher slot="fixed" (ionRefresh)="refreshPasswords($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <div class="password-center">
    <div class="password-list">
      <ion-card class="password-card" *ngFor="let p of password">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando datos..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
