.toolbar-items {
  margin: 0 1.2rem;
}

.texto-logOut {
  text-transform: uppercase;
  font-size: smaller;
  padding: 0 0.8rem;
}

.profile-content {
  --padding-bottom: 0.2rem;
  --padding-end: 0.2rem;
  --padding-start: 0.2rem;
  --padding-top: 0.2rem;

  .user-image {
    border-radius: 4%;
  }

  .user-details-wrapper {
    justify-content: center;

    .user-image-wrapper {
      text-align: center;
    }

    .user-info-wrapper {
      text-align: center;
    }
  }
}
